{% extends 'base.html.twig' %}

{% block title %}Room{% endblock %}

{% block body %}
    <h1>Room</h1>
    <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
       
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ room.id }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ room.summary }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ room.description }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ room.capacity }}</td>
            </tr>
            <tr>
                <th>Superficy</th>
                <td>{{ room.superficy }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ room.price }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ room.address }}</td>
            </tr>
            {# <tr>
                <th>Image</th>
                <td><img src="{{ vich_uploader_asset(room, 'imageFile') }}"/></td>
            </tr> #}
        </tbody>
    </table>
    </div> 
    <div class="col-md-1">
    </div>
        <div class="col-md-6">
           <img src="{{ vich_uploader_asset(room, 'imageFile') }}" width="65%"/>
        </div>
    </div>
    
    <a class="btn btn-primary" href="{{ path('room_index') }}">Back to List</a>
    <a class="btn btn-primary" href="{{ path('room_edit', {'id': room.id}) }}">Edit</a>


    {{ include('room/_delete_form.html.twig') }}
{% endblock %}
